// bg
.he-back-bg {
  background-color: var(--he-color-bg-back) !important;
}

.he-bg {
  background-color: var(--he-color-bg-white) !important;
}

.he-bg-white {
  background: white !important;
}

.he-bg-primary {
  background: var(--he-color-primary) !important;
}

.he-bg-info {
  background-color: #d9edf7 !important;
}

.he-bg-invalid {
  background-color: #ffd3cf !important;
}

.he-bg-desc {
  background-color: var(--he-color-desc) !important;
}

.he-bg-error {
  background-color: var(--he-color-danger) !important;
}

.he-bg-hover-primary:hover {
  color: var(--he-color-primary) !important;
  background: white !important;
}

.he-bg-focus-primary:focus {
  color: var(--he-color-primary) !important;
  background: white !important;
}

.he-bg-hover-focus-primary:hover,
.he-bg-hover-focus-primary:focus {
  color: var(--he-color-primary) !important;
  background: white !important;
}

.he-hover-bg:hover {
  background-color: var(--he-color-bg-back) !important;
}
