.m-text {
  color: var(--m-color-default) !important;
}

.m-text-red {
  color: red !important;
}

.m-text-primary {
  color: var(--m-color-primary) !important;
}

.m-text-success {
  color: var(--m-color-success) !important;
}

.m-text-danger {
  color: var(--m-color-danger) !important;
}

.m-text-desc {
  color: var(--m-color-desc) !important;
}

.m-text-black {
  color: black !important;
}

.m-text-white {
  color: white !important;
}

.m-text-hover-primary {
  &:hover {
    color: var(--m-color-primary) !important;
  }
}

.m-text-helper {
  color: var(--m-color-secondary) !important;
  font-size: 12px !important;
}

.m-text-center {
  text-align: center;
}

.m-text-left {
  text-align: left;
}

.m-text-right {
  text-align: right;
}

.m-text-bold {
  font-weight: bold;
}

.m-text-ellipsis {
  overflow: hidden !important;
  text-overflow: ellipsis !important;
  white-space: nowrap;
}

.m-text-no-ellipsis {
  white-space: normal;
}

// m-font-xx 慢慢废弃
.m-font-24,
.m-text-24 {
  font-size: 24px !important;
}

.m-font-20,
.m-text-20 {
  font-size: 20px !important;
}

.m-font-18,
.m-text-18 {
  font-size: 18px !important;
}

.m-font-16,
.m-text-16 {
  font-size: 16px !important;
}

.m-font-14,
.m-text-14 {
  font-size: 14px !important;
}

.m-font-12,
.m-text-12 {
  font-size: 12px !important;
}

.m-line-height-1 {
  line-height: 1;
}

.m-text-placeholder {
  color: var(--m-color-placeholder);
}

.m-placeholder-text {
  &::placeholder {
    color: var(--m-color-placeholder);
  }
}

.m-decoration-none {
  &:hover {
    text-decoration: none;
  }

  &:focus {
    text-decoration: none;
  }
}

.m-text-nowrap {
  white-space: nowrap;
}
